/**************/
/* CSS REMEDY */
/*************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* Variabelen */
/*********************/
:root {
	
	--color-text:#ffffff;
	--color-background:#242633;
	--color-details:#070f28;
	--color-button:#5758ff;
	--backgroundcolor-poll:#12152980;
	--backgroundpoll-hover:#ffffff8d;
	
	
}

body{
	background-color: var(--color-background);
	margin: 0;
	padding: 0;
	color: var(--color-text);
	text-align: center;
}


/****************/
/* JOUW STYLING */   /*https://www.w3schools.com/css/css3_transitions.asp transition code https://css-tricks.com/snippets/css/complete-guide-grid/ Grid Guide
/****************/


   h1{
	display: none;
   }

   h2{
	text-transform: uppercase ;
   }
   
   a{
	color: var(--color-text);
	text-transform: uppercase;
   }

   a:hover {
    cursor: pointer;
   }

   button{
	text-transform: uppercase;
	color: var(--color-text);
	background-color: var(--color-button);
	border-radius: 90px;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
  border: solid transparent;

   }

   button:hover {
   background-color: var(--color-details);
   border: solid var(--color-button);
   cursor: pointer;
   }

    /*https://www.w3schools.com/css/css_list.asp code om de puntjes weg te halen*/
  li {
	list-style: none; 
  }





/*********************/
/* Header */
/*********************/




   #logo{
	display: flex;
	position: absolute;
	height: 3em; 
	width: auto;
	margin-top: 20px;
	margin-left: 80px;
   }

   nav#navheader a.icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
	font-size: 1.8em;
   }

   nav#navheader {
	background-color: var(--color-details);
	position: fixed;
	top: 0;
	height: 4.9em;
	width: 100%;
	transition: top 0.3s ease;
	z-index: 1000;
  }
  
   nav#navheader ul#websitenav {
	display: none;

  }
  
  nav#navheader li {
	margin: 0;
  }
  
  nav#navheader a{
	padding: 1em;
	color: var(--color-text);
	text-decoration: none;
	
  }

  
  

 #topheader {
  display: grid;
  grid-auto-flow: column; 
  gap: 0.5em;            
  justify-self: end;       
  align-items: center;
 }
 
  
  #topheader a {
	display: inline-block;
  }
  
  #topheader img {
	height: 0em; 
	width: auto;
  }

  #topheader button {
   display: flex;
   position: relative;
   right: 0;
   top: 0;
   padding: 0.7em 0.7em;
   margin: 1em 0.2em 1em 0;
  }

#websitenav {
  background-color: var(--color-details); 
  width: 80vw;      
  height: 100vh;  
  position: fixed; 
  top: 0;
  left: 0;
  padding: 5em 1em;   

}

#websitenav a{
 display: grid;
 justify-self: flex-start;
 font-weight: 700;

}

#websitenav img{
	display: flex;
}
  




/*********************/
/* Yuleball */
/*********************/




  #yuleball{
	display: grid;
	
  }

  #yuleball h2{
	z-index: 10;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	
  }



  #yuleball button{
   width: fit-content;
   justify-self: center;
  
  }

  #yulebalimgdesktop{
    display: none;
  }

  #yulebalimgphone{
	height: auto; 
	width: 100%;
	margin-top: 4em;
	z-index: 0;
	grid-row-start:1;
  }	
  




/*********************/
/* Poll */
/*********************/

  #poll {
	display: grid;
	text-align: center;
	gap: 1em;        
	max-width: 20em;
	margin: 0 auto;
  }

  #poll h2{
    margin-top: 8em;
	font-size: 1em
  }  

  #poll p{
	margin-top: -.5em;
	font-size: 2em;
  }


  #poll button{
	background-color:var(--backgroundcolor-poll);
	border: 1px solid var(--color-button);
	border-radius: 10px;
	
  }
  
  #poll button:hover{
	background-color:var(--backgroundpoll-hover);

  }




/*********************/
/* Sorting */
/*********************/
  
#sorting{
display: grid;
place-items: center;
text-align: center;

}


  #sorting h2{
	margin-top: 5em;
  }

   #sorting img{
   width: 100%;
   height: auto;
   
  }

  #sorting ul {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, auto);
  gap: 1.5em;
  justify-content: center;
 }

  #sorting button{
   width: fit-content;
  

  }






/*********************/
/* Quizzes */
/*********************/


#quizzes {
display: grid;
place-items: center;
margin-top: 5em;

}

#quizzes a{
	margin-top: 3em;
}

#quizzes ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 2em;
}

#quizzes li {
  display: grid;
  grid-template-rows: 13em max-content;
}

#quizzes li h3 {
  margin: -3rem;
  z-index: 1000;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#quizzes li p {
  margin: -1.5rem;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#quizzes li img {
  width: 100%;
  height: auto;
  align-self: stretch;
  object-fit: cover;
  grid-row-start: 1;
  border-radius: 10px;
}

#quizzes li:hover {
  cursor: pointer;
}




/*********************/
/* shop */
/*********************/


/* carousel code: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels, https://css-tricks.com/almanac/properties/s/scroll-behavior/ */

#ornamentshop h2 {
	margin-top: 5em;

}

#ornamentshop ul {
width: 100%;
height: auto;
display: flex;
gap: 4vw;
overflow-x: scroll;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
}

#ornamentshop li{
background-color: var(--backgroundcolor-poll);
flex: 0 0 95%;
scroll-snap-align: center;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1em;
}

#ornamentshop li img {
  width: 100%;
  height: auto;
  object-fit: contain; /* ensures full image is visible */
  margin-bottom: 1em;
}

#ornamentshop ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: var(--backgroundpoll-hover);
  opacity: 0.7;
  cursor: pointer;
}

#ornamentshop ul::scroll-button(left) {
  content: "◄";
}

#ornamentshop ul::scroll-button(right) {
  content: "►";
}

#ornamentshop a{
	display: flex;
	position: relative;
	justify-content: center;
	margin-top: 2em;
}





/*********************/
/* magical picks */
/*********************/

#magicalpicks h2{
	margin-top: 5em;
}

#magicalpicks h3{
	display: none;
  }

#magicalpicks ul {
width: 100%;
height: auto;
display: flex;
overflow-x: scroll;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
}

#magicalpicks li{
flex: 0 0 80%;
scroll-snap-align: center;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1em;
  margin: 0 -2em;
  
}

#magicalpicks li img {
  width: 80%;
  height: auto;
  object-fit: contain; 
  margin-bottom: 1em;
  border-radius: 10px;
}







/*********************/
/* Footer */
/*********************/
  
  #navfooter{
	display: grid;
	background-color: var(--color-details);
	
  }

  #border {
   border: solid var(--color-text), 1px;
   margin: 1em;
  }

  #HarryPotterLogo {
	justify-self: center;
	height: 3em; 
	width: auto;
	margin: 4em;
  }

  #navfooter ul {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(1, auto);
  gap: 1.5em;
  justify-content: center;
  
 }

  #navfooter a{
	text-decoration: none;
  }

  #navfooter ul#logos{
  display: grid;
  grid-template-columns: repeat(4, auto); /* ← FIX */
  gap: 2em;
  justify-content: center;
  align-items: center;
 

  }

  
  #navfooter ul#logos img{
	width: 25px;
	height: auto;
	margin:3em 0 3em 0 ;
  }





  /****************/
/* Desktop */   
/****************/

  @media (min-width: 48em) {

	p {
	  column-count: 2;
	  column-gap: 2em;
	}

 /****************/
/* header */   
/****************/
  #logo {
    display: grid;
    justify-self: center;
    position: relative;
    height: auto;
    margin: 1.5em 0 0 0;
    padding: 0;
    width: 10.5em;
  }

	
   nav#navheader a.icon {
    display: none;

   }

	nav#navheader a{
		display: block;
		padding: 1em;
		color: var(--color-text);
		text-decoration: none;
	  }

	  nav#navheader {
		background-color: var(--color-details);
		position: fixed;
		top: 0;
		height: 11em;
		width: 100%;
		transition: top 0.5s ease;
		z-index: 1000;
	  }

  

  nav#navheader #topheader {
    display: grid;
    grid-auto-flow: column
    
  }

  nav#navheader ul#websitenav {
    display: flex;
    position: absolute;
    background-color: transparent;
    
    }

    nav#navheader ul#websitenav li:hover {
      color: var(--color-text);
      text-decoration: underline;
      
      }

    nav#navheader ul#websitenav img{
      display: none;
    
      }

  

  #topheader {
    display: flex;
    width: 100%;
    justify-content: start; 
    gap: 1em; 
   
   
  }

  #topheader li:hover{
    cursor: pointer;
  }
  
	#topheader img {
    display: flex;
    position: absolute;
		height: 1.5em;
    bottom: 7em;
	  }

  #topheader button {
      display: none;
      }

    
  
 /****************/
/* Yuleball */   
/****************/

	  #yulebalimgphone{
		display: none;
	  }

	  #yulebalimgdesktop{
		display: block;
    width: 100%;
    height: auto;
	  }

    #yuleball {
      display: grid;
      place-items: center;
    }

    #yuleball p {
      margin: 2rem;
      text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    }



    

  }