/**************/
/* CSS REMEDY */
/*************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* Variabelen */
/*********************/
:root {
	
	--color-text:#ffffff;
	--color-backgroundhome:#242633;
  --color-backgroundprofile: #351414;
	--color-details:#070f28;
	--color-buttonhome:#5758ff;
  --color-buttonprofile:#de554b;
	--backgroundcolor-poll:#12152980;
	--backgroundpoll-hover:#ffffff8d;

	
	
}

body{
	margin: 0;
	padding: 0;
	color: var(--color-text);
	text-align: center;
}


/****************/
/* JOUW STYLING */   /*https://www.w3schools.com/css/css3_transitions.asp transition code https://css-tricks.com/snippets/css/complete-guide-grid/ Grid Guide https://www.w3schools.com/Html/html_classes.asp?utm.com classes info
/****************/
.homepage {
  background-color: var(--color-backgroundhome); 
}

.homepage button{
	color: var(--color-text);
	background-color: var(--color-buttonhome);
  border: solid transparent;
	
   }

.homepage button:hover {
   background-color: var(--color-details);
   border: solid var(--color-buttonhome);

   }


.profilepage {
  background-color: var(--color-backgroundprofile);
}


.profilepage button {
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid var(--color-text);
  cursor: pointer;
}

.profilepage button:hover {
  background-color: var(--color-text);
  color: var(--color-backgroundprofile); 
  border: 1px solid var(--color-text);
}

   h1{
	display: none;
   }

   h2{
	text-transform: uppercase ;
   }
   
   a{
	color: var(--color-text);
	text-transform: uppercase;
   }

   a:hover {
    cursor: pointer;
    transition: ease 0.3s;
   }

   button{
	text-transform: uppercase;
	border-radius: 90px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
  border: solid transparent;

   }

   button:hover {
   cursor: pointer;
   transition: ease 0.3s;
   }

    /*https://www.w3schools.com/css/css_list.asp code om de puntjes weg te halen*/
  li {
	list-style: none; 
  }





/*********************/
/* Header */
/*********************/




   #logo{
	display: flex;
	position: absolute;
	height: 3em; 
	width: auto;
	margin-top: 20px;
	margin-left: 80px;
   }

   nav#navheader a.icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
	font-size: 1.8em;
   }

   nav#navheader {
	background-color: var(--color-details);
	position: fixed;
	top: 0;
	height: 4.9em;
	width: 100%;
	transition: top 0.3s ease;
	z-index: 1000;
  }
  
   nav#navheader ul#websitenav {
	display: none;

  }
  
  nav#navheader li {
	margin: 0;
  }
  
  nav#navheader a{
	padding: 1em;
	color: var(--color-text);
	text-decoration: none;
	
  }

  
  

 #topheader {
  display: grid;
  grid-auto-flow: column; 
  gap: 0.5em;            
  justify-self: end;       
  align-items: center;
 }
 
  
  #topheader a {
	display: inline-block;
  }
  
  #topheader img {
	height: 0em; 
	width: auto;
  }

  #topheader button, #profileicon {
   display: flex;
   position: relative;
   right: 0;
   top: 0;
   padding: 0.7em 0.7em;
   margin: 1em 0.2em 17em 0;
  }

#websitenav {
  background-color: var(--color-details); 
  width: 80vw;      
  height: 100vh;  
  position: fixed; 
  top: 0;
  left: 0;
  padding: 5em 1em;   

}

#websitenav a{
 display: grid;
 justify-self: flex-start;
 font-weight: 700;

}

#websitenav img{
	display: flex;
}


  




/*********************/
/* Yuleball */
/*********************/




  #yuleball{
	display: grid;
	
  }

  #yuleball h2{
	z-index: 10;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	
  }



  #yuleball button{
   width: fit-content;
   justify-self: center;
  
  }

  #yulebalimgdesktop{
    display: none;
  }

  #yulebalimgphone{
	height: auto; 
	width: 100%;
	margin-top: 4em;
	z-index: 0;
	grid-row-start:1;
  }	
  

/*********************/
/* profielstart */
/*********************/


#profielstart {
  display: grid;
  margin: 0;
  padding: 0;
  justify-items: center; 
}

  #profielstart .eigenprofiel {
    display: grid;
    gap: 1em;
    justify-items: center; 
    text-align: center;
  }

#profielstart img {
  width: 50%;
  height: auto;
  order: 1;
  margin-top: 8em;
}

#profielstart h2 {
  order: 2;
}

#profielstart h3 {
  order: 3;
}

#profielstart p {
  order: 4;
  opacity: 0.4;
  margin-top: -1em;
}

#profielstart button {
  order: 2;
}


#eigenschappen {
  order: 5;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 2em auto;        
  padding: .2em; 
}

#eigenschappen img {
  width: 3em;
  height: auto;
}

#eigenschappen button{
  width: fit-content;
  background-color: var(--color-buttonprofile);
  border: none;
}

#eigenschappen a{
  padding: 2em;
}

#eigenschappen li {
  background-color: var(--backgroundcolor-poll);
  padding: .2em;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  text-align: center;
  border-radius: 10px;
  border: solid 1px var(--color-text);
}

#eigenschappen li:hover{
  border: solid 1px var(--color-buttonprofile);
  transition: ease 0.3s;
}

#eigenschappen li:nth-child(-n+3) {
  grid-template-rows: auto 1fr auto auto auto;
}

#eigenschappen li:nth-child(-n+3) h4 {
  order: 1;
}

#eigenschappen li:nth-child(-n+3) img {
  order: 2;
  width: 50%;
  height: auto;
  margin-top: 0;
}

#eigenschappen li:nth-child(-n+3) h5 {
  order: 3;
}

#eigenschappen li:nth-child(-n+3) p {
  order: 4;
}

#eigenschappen li:nth-child(-n+3) a {
  order: 5;
}

#eigenschappen li:last-child {
  grid-column: 1 / -1; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  padding: 1.5em;
}

#eigenschappen li:last-child img {
  width: 8em; 
  height: auto;
  margin-top: 2em;
  order: 1;
}

#eigenschappen li:last-child h4, #eigenschappen li:last-child button {
  display: block;
  text-align: left;
}

#eigenschappen li:last-child section.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  order: 2;
}




/*********************/
/* Poll */
/*********************/

  #poll {
	display: grid;
	text-align: center;
	gap: 1em;        
	max-width: 20em;
	margin: 0 auto;
  }

  #poll h2{
    margin-top: 8em;
	font-size: 1em
  }  

  #poll p{
	margin-top: -.5em;
	font-size: 2em;
  }


  #poll button{
	background-color:var(--backgroundcolor-poll);
	border: 1px solid var(--color-buttonhome);
	border-radius: 10px;
	
  }
  
  #poll button:hover{
	background-color:var(--backgroundpoll-hover);

  }




/*********************/
/* Sorting */
/*********************/
  
#sorting{
display: grid;
place-items: center;
text-align: center;

}


  #sorting h2{
	margin-top: 5em;
  }

   #sorting img{
   width: 100%;
   height: auto;
   
  }

  #sorting ul {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, auto);
  gap: 1.5em;
  justify-content: center;
 }

  #sorting button{
   width: fit-content;
  

  }


/*************/
/* portrait*/
/*************/

#portrait{
  display: grid;
  justify-content: center;
  gap: 1.5em;
  margin: 2em 0;
  padding: 0;
}

#portrait p{
 margin-top: -2em;
}

#portrait img{
  width:70%;
  height: auto;
  justify-self: center;
  order: 1;
}

#portrait button{
  width: fit-content;
  justify-self: center;
}



/*********************/
/* Quizzes */
/*********************/


#quizzes {
display: grid;
place-items: center;
margin-top: 5em;

}

#quizzes a{
	margin-top: 3em;
}

#quizzes ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 2em;
}

#quizzes li {
  display: grid;
  grid-template-rows: 13em max-content;
}

#quizzes li h3 {
  margin: -3rem;
  z-index: 1000;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#quizzes li p {
  margin: -1.5rem;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#quizzes li img {
  width: 100%;
  height: auto;
  align-self: stretch;
  object-fit: cover;
  grid-row-start: 1;
  border-radius: 10px;
}

#quizzes li:hover {
  cursor: pointer;
}




/*********************/
/* shops */
/*********************/


/* carousel code: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels, https://css-tricks.com/almanac/properties/s/scroll-behavior/ /code flex https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex */

#ornamentshop, #merchandise h2 {
	margin-top: 5em;

}

#ornamentshop ul, #merchandise ul {
width: 100%;
height: auto;
display: flex;
gap: 4vw;
overflow-x: scroll;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
}

#ornamentshop li, #merchandise li{
background-color: var(--backgroundcolor-poll);
flex: 0 0 95%;
scroll-snap-align: center;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1em;
}

#ornamentshop li img, #merchandise li img {
  width: 100%;
  height: auto;
  object-fit: contain; 
  margin-bottom: 1em;
}

#ornamentshop ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: var(--backgroundpoll-hover);
  opacity: 0.7;
  cursor: pointer;
}

#ornamentshop ul::scroll-button(left) {
  content: "◄";
}

#ornamentshop ul::scroll-button(right) {
  content: "►";
}

#merchandise ul::scroll-button(left) {
  content: "◄";
}

#merchandise ul::scroll-button(right) {
  content: "►";
}

#ornamentshop a, #merchandise a{
	display: flex;
	position: relative;
	justify-content: center;
	margin-top: 2em;
}





/*********************/
/* magical picks en Fellowwitches */
/*********************/

#magicalpicks h2, #fellowwitches h2{
	margin-top: 5em;
}



#magicalpicks ul, #fellowwitches ul{
width: 100%;
height: auto;
display: flex;
overflow-x: scroll;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
}

#magicalpicks li, #fellowwitches li{
flex: 0 0 80%;
scroll-snap-align: center;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1em;
  margin: 0 -2em;
  
}

#magicalpicks li img, #fellowwitches li img{
  width: 80%;
  height: auto;
  object-fit: contain; 
  margin-bottom: 1em;
  border-radius: 10px;
}







/*********************/
/* Footer */
/*********************/
  
  #navfooter{
	display: grid;
	background-color: var(--color-details);
	
  }

  #border {
   border: solid var(--color-text), 1px;
   margin: 1em;
  }

  #HarryPotterLogo {
	justify-self: center;
	height: 3em; 
	width: auto;
	margin: 4em;
  }

  #navfooter ul {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(1, auto);
  gap: 1.5em;
  justify-content: center;
  
 }

  #navfooter a{
	text-decoration: none;
  }

  #navfooter ul#logos{
  display: grid;
  grid-template-columns: repeat(4, auto); 
  gap: 2em;
  justify-content: center;
  align-items: center;
 

  }

  
  #navfooter ul#logos img{
	width: 25px;
	height: auto;
	margin:3em 0 3em 0 ;
  }





  /****************/
/* Desktop */   
/****************/

  @media (min-width: 54em) {


 /****************/
/* header */   
/****************/
  #logo {
    display: grid;
    justify-self: center;
    position: relative;
    height: auto;
    margin: 1.5em 0 0 0;
    padding: 0;
    width: 10.5em;
  }

	
   nav#navheader a.icon {
    display: none;

   }

	nav#navheader a{
		display: block;
		padding: 1em;
		color: var(--color-text);
		text-decoration: none;
	  }

	  nav#navheader {
		background-color: var(--color-details);
		position: fixed;
		top: 0;
		height: 11em;
		width: 100%;
		transition: top 0.5s ease;
		z-index: 1000;
	  }

  


  nav#navheader ul#websitenav {
    display: flex;
    position: absolute;
    background-color: transparent;
    
    }

    nav#navheader ul#websitenav li:hover {
      color: var(--color-text);
      text-decoration: underline;
      
      }

    nav#navheader ul#websitenav img{
      display: none;
    
      }

  
  #topheader .topheader-images {
    position: absolute;
    bottom: 6em;
    left: 1em;
    display: flex;
  }

  #topheader .topheader-images img {
    height: 1.5em;
    width: auto;
  }

  #topheader button{
    position: relative;
    margin: -5em 1em 0 0;
  }




    
  
 /****************/
/* Yuleball */   
/****************/
    #yuleball {
    display: grid;
    position: relative;
    padding-top: 10rem;
    }

	  #yulebalimgphone{
		display: none;
	  }

	  #yulebalimgdesktop{
		display: block;
    width: 100%;
    height: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 0;
	  }

    
#yuleball h2{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 10;
  padding: 3em;
}

#yuleball p{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 10;
  padding: 8em 0 0;
  max-width: 30rem;
  justify-self: center;
  font-size: 18px;
}

#yuleball button{
margin-top: 3em;
}


/*****************/
/*poll en Sorting*/   
/*****************/

  #interactive-sections {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 3em; 
    margin: 0 auto;
    align-items: start; 
  }

  #poll h2{
    margin-top: 8em;
  }

  #poll, #sorting {
    max-width: 100%; 

  }


  #poll button{
    width: 30em;
    justify-self: center;
  }

/**********/
/*quizzes*/   
/********/

   #quizzes ul {
    display: grid;
    gap: 2em;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    
  }

    #quizzes li img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
  }


/**************/
/*shops*/    
/*************/

   #ornamentshop ul, #merchandise ul {
    gap: 2vw; 
    overflow-x: hidden; 
  }

  #ornamentshop li, #merchandise li{
    flex: 0 0 30%; 
    max-width: 30%; 
  }

  #ornamentshop li img, #merchandise li img{
    max-height: 15em;
    object-fit: contain;
  }

/**************/
/*magicalpicks en fellowwitches*/  
/*************/

   #magicalpicks ul, #fellowwitches ul{
    gap: 1em; 
    overflow-x: hidden;
    justify-content: center; 
  }

  #magicalpicks li, #fellowwitches li{
    flex: 0 0 30%; 
    max-width: 18em;  
  }

  #magicalpicks li img, #fellowwitches li img{
    max-height: 20em;
    object-fit: contain;
  }

/****************/
/* profielstart */   
/****************/

   #profielstart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 3em;
    padding: 4em 5em;
  }
  #profielstart .eigenprofiel {
    display: grid;
    gap: 1em;
    justify-items: center; 
    text-align: center;
  }

  #profielstart .eigenprofiel img {
    width: 40%;
  }

  #eigenschappen {
    margin-top: 8em;
    grid-template-columns: repeat(3, 1fr); 
  }

}
