/**************/
/* CSS REMEDY */
/*************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* Variabelen */
/*********************/
:root {
	
	--color-text:#ffffff;
	--color-background:#242633;
	--color-details:#070f28;
	--color-button:#5758ff;
	--backgroundcolor-poll:#12152980;
	--backgroundpoll-hover:#ffffff8d;
	
	
}

body{
	background-color: var(--color-background);
	margin: 0;
	padding: 0;
	height: 8000px;
	color: var(--color-text);
	text-align: center;
}


/****************/
/* JOUW STYLING */   /*https://www.w3schools.com/css/css3_transitions.asp transition code*/
/****************/


   h1{
	display: none;
   }

   h2{
	text-transform: uppercase ;
   }
   
   a{
	color: var(--color-text);
	text-transform: uppercase;
   }

   button{
	text-transform: uppercase;
	color: var(--color-text);
	background-color: var(--color-button);
	border-radius: 90px;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	
	
   }

    /*https://www.w3schools.com/css/css_list.asp code om de puntjes weg te halen*/
  li {
	list-style: none; 
  }


   #logo{
	display: flex;
	position: absolute;
	height: 3em; 
	width: auto;
	margin-top: 20px;
	margin-left: 80px;
   }

   #hamburgermenu{
	display: flex;
	position: absolute;
	height: 1.8em; 
	width: auto;
	margin-top: 27px;
	margin-left: 20px;
   }

   nav#navheader {
	background-color: var(--color-details);
	position: fixed;
	top: 0;
	height: 4.9em;
	width: 100%;
	transition: top 0.3s ease;
	z-index: 1000;
  }
  
   nav#navheader ul#websitenav {
	display: flex;
	margin: 0;
	margin-top: 2em;
	padding: 0;
	list-style: none;
  }
  
  nav#navheader li {
	margin: 0;
  }
  
  nav#navheader a{
	display: none;
	padding: 1em;
	color: var(--color-text);
	text-decoration: none;
  }
  
   nav#navheader a:hover {
	background-color: var(--color-text);
	color: var(--color-details);
  }

  


  #topheader {
	display: grid; 
	grid-template-columns: repeat(4, auto); 
	justify-content: flex-start;
	margin-right: -5px;
  }
 
  
  #topheader a {
	display: inline-block;
  }
  
  #topheader img {
	height: 0em; 
	width: auto;
  }

  #yulebalimgdesktop{
    display: none;
  }

  #yulebalimgphone{
	display: flex;
	height: auto; 
	width: 100%;
	position: absolute;
	top: 5em;
	left: 0;
	z-index: 0;
  }
 

  #yuleball h2{
	display: flex;
	position: relative;
	margin-top: 12em;
	z-index: 10;
	text-shadow: 2px 1px 5px #000000;
	
  }

  #yuleball p{
	z-index: 1100;

  }
	
	
	
  

  #poll button{
	background-color:var(--backgroundcolor-poll);
	border: 1px solid #5758ff;
	border-radius: 10px;
	cursor: pointer;
  }
  
  #poll button:hover{
	background-color:var(--backgroundpoll-hover);

  }

  #poll {
	display: grid;
	text-align: center;
	gap: 10px;        
	max-width: 300px;
	margin: 0 auto;
  }
  
 #quizzes img{
	height: auto;
	width: 20em;
 }

  /****************/
/* Desktop */   
/****************/

  @media (min-width: 48em) {

	p {
	  column-count: 2;
	  column-gap: 2em;
	}

	nav#navheader a{
		display: block;
		padding: 1em;
		color: var(--color-text);
		text-decoration: none;
	  }

	  nav#navheader {
		background-color: var(--color-details);
		position: fixed;
		top: 0;
		height: 10em;
		width: 100%;
		transition: top 0.3s ease;
		z-index: 1000;
	  }

	#topheader img {
		height: 1.5em; 
		width: auto;
		transition: transform 0.3s ease, filter 0.3s ease; 
	  }

	  #yulebalimgphone{
		display: none;
		height: auto; 
		width: 100%;
		position: absolute;
		top: 5em;
		left: 0;
		z-index: 0;
	  }
	  #yulebalimgdesktop{
		display: block;
	  }
  }